@import url('https://fonts.googleapis.com/css?family=Alatsi|Roboto&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  transition: transform 200ms ease-in-out;
  box-shadow: 0px 5px 33px -4px rgba(0, 0, 0, 0.75);
}

.currentImg {
  cursor: pointer;
}

img:hover {
  transform: scale(1.03);
}

body {
  background-color: snow;
}

.stats {
  display: flex;
  justify-content: space-around;
  opacity: 0;
  animation: fade 3s ease-in-out 1 normal 0.5s forwards;
}

.grid {
  width: 75vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

.gallery__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  color: #fff;
  cursor: pointer;
  transition: opacity 200ms linear;
  opacity: 0;
  pointer-events: none;
}

.gallery__icon i {
  font-size: 48px;
}

.grid-item:hover .gallery__icon {
  opacity: 1;
}

.image {
  position: relative;
  opacity: 0;
  animation: fade 3s ease-in-out 1 normal forwards;
}

.grid-sizer,
.grid-item {
  list-style: none;
  width: 31.5%;
  margin-bottom: 1rem;
}

.search-form {
  margin: 4rem auto;
  display: flex;
  justify-content: center;
}

#submit-form {
  min-height: 3rem;
  min-width: 8rem;
}

#submit-form {
  font-family: 'Alatsi', sans-serif;
  font-size: 1rem;
}

#submit-form:hover {
  border: none;
  background-color: rgb(192, 185, 253);
}

.input-form,
.input-form::placeholder {
  font-family: 'Alatsi', sans-serif;
  font-size: 1.4rem;
  min-height: 3rem;
  min-width: 24rem;
}

.input-form {
  padding-left: 0.8rem;
}

#guardian {
  height: 0.4rem;
}

.k-spinner--spin {
  position: fixed;
  z-index: 50;
  margin-top: 45vh;
  margin-left: 45%;
  transform: translate(-50%);
  width: 9rem;
  height: 9rem;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
