@import url('https://fonts.googleapis.com/css?family=Alatsi|Roboto&display=swap');

html {
  box-sizing: border-box;
  width: 100vw;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: snow;
  text-align: center;
}

.row-input {
  margin-top: 13vh;
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  min-height: 3rem;
  min-width: 24rem;
  margin-bottom: 2rem;
}

.row-input::placeholder {
  margin-top: 20px;
  color: rgba(80, 75, 75, 0.6);
}

.row-input,
.row-input::placeholder,
.list-item,
.designation {
  font-family: 'Alatsi', sans-serif;
}

.row-input,
.row-input::placeholder {
  font-size: 1.4rem;
}

.list-item {
  text-align: left;
  margin-left: 38%;
}

.country-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;
}

.flag {
  max-width: 40rem;
}

.country-title {
  font-family: 'Alatsi', sans-serif;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  margin-bottom: 4rem;
}

.country-item {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

.list-item,
.designation {
  font-size: 1.8rem;
}

.country-list,
.country-item,
.designation {
  text-align: left;
}
